@import url(normalize.css);
@keyframes headline_animation {
  from {
    opacity: 0;
    bottom: 0; }
  to {
    opacity: 1;
    bottom: 30px; } }
.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.scroll_offset_01 {
  scroll-margin-top: 60px; }

.scroll_offset_02 {
  scroll-margin-top: 60px; }

.img-thumbnail {
  margin-bottom: 1.5em; }

.family-photo {
  transform: rotate(3.2deg); }

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
  background-color: #fff; }

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #fff; }

button.hamburger:focus {
  outline: none;
  /* outline: -webkit-focus-ring-color auto 5px; */ }

@font-face {
  font-family: 'eastmangrotesque-extrabold';
  src: url("../fonts/eastmangrotesque-extrabold-webfont.woff2") format("woff2"), url("../fonts/eastmangrotesque-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body {
  font-family: "Open Sans", sans-serif;
  color: #333333; }

h1, h2 {
  color: #337dc0;
  font-weight: normal;
  font-family: 'eastmangrotesque-extrabold';
  letter-spacing: -.05rem; }

h3 {
  color: #337dc0;
  font-weight: bold;
  font-size: 1.4rem; }

.center {
  text-align: center; }

.punch {
  color: #329c43; }

.pull-quote {
  text-align: center;
  color: #171243;
  padding-bottom: .25em; }

header {
  background-color: #171243;
  text-align: center;
  position: relative;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center; }
  header a {
    width: 160px; }
    header a .logo {
      max-width: 160px;
      height: auto;
      display: block; }
  header .menu-icon-holder {
    width: 20%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1em; }
    header .menu-icon-holder .menu-icon {
      color: white;
      cursor: pointer; }

header.collapsed {
  border-bottom: none;
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000; }
  header.collapsed a .logo {
    display: none; }

/*----------- BREAKPOINTS ------------ */
@media (min-width: 768px) {
  header {
    background-color: #171243;
    text-align: center; }
    header a .logo {
      max-width: 200px;
      height: auto;
      margin: .5em auto; }
    header .menu-icon-holder {
      justify-content: flex-end; } }
footer {
  padding: 1em 0;
  text-align: center;
  border-top: 3px solid #337dc0; }
  footer img.logo {
    width: 160px;
    height: auto;
    display: block;
    margin: 0 auto 1em auto; }
  footer p {
    color: white; }
  footer a:link, footer a:visited {
    color: white;
    text-decoration: none; }
  footer a:hover, footer a:active {
    color: white;
    text-decoration: underline; }
  footer p {
    font-size: .64em; }
  footer p.auth-line {
    font-size: .5em; }
  footer .social-media-links {
    margin-bottom: 2em; }
    footer .social-media-links img.social-media-logo {
      width: 24px;
      height: auto;
      margin-right: .5em;
      opacity: .8; }
    footer .social-media-links a:link img.social-media-logo, footer .social-media-links a:visited img.social-media-logo {
      opacity: .8; }
    footer .social-media-links a:hover img.social-media-logo, footer .social-media-links a:active img.social-media-logo {
      opacity: 1; }

#main .hero {
  background-image: url("../images/hero_01_MOBILE.jpg");
  height: 300px; }

.parallax_01 {
  background-image: url("../images/curtisBay_MOBILE_duoTone.jpg"); }

.parallax_02 {
  background-image: url("../images/robbyn_linwood_MOBILE.jpg"); }

.parallax_03 {
  background-image: url("../images/federalHillDoors_MOBILE.jpg"); }

@media (min-width: 768px) {
  #main .hero {
    background-image: url("../images/hero_01_TABLET.jpg");
    height: 350px; } }
@media (min-width: 1200px) {
  #main .hero {
    background-image: url("../images/hero_01_DISPLAY.jpg");
    height: 700px !important; }

  .parallax_01 {
    background-image: url("../images/curtisBay_DISPLAY.jpg"); }

  .parallax_02 {
    background-image: url("../images/robbyn_linwood_DISPLAY.jpg"); }

  .parallax_03 {
    background-image: url("../images/federalHillDoors_DISPLAY.jpg"); } }
html {
  scroll-behavior: smooth; }

body {
  background-color: #171243; }

.hide {
  display: none; }

a {
  color: #337dc0; }

html.home article {
  padding-top: 1.4em;
  padding-bottom: 1.4em; }
  html.home article .fas {
    color: #337dc0;
    padding-bottom: .25em; }

#main {
  background-color: white;
  padding-bottom: 5em;
  position: relative; }
  #main .hero {
    position: relative;
    text-align: center;
    background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    margin-bottom: 1em; }
    #main .hero .lockup {
      position: absolute;
      bottom: 5%;
      left: 0;
      width: 100%; }
      @media (min-width: 768px) {
        #main .hero .lockup {
          animation-name: headline_animation;
          animation-duration: 1s;
          animation-timing-function: ease-out; } }
      #main .hero .lockup h2 {
        color: white;
        width: 100%;
        margin: 0;
        margin-bottom: .5em;
        font-size: 2em;
        line-height: 1em;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
        display: inline-block; }
      #main .hero .lockup .buttons {
        width: 100%;
        display: flex;
        justify-content: center; }
        #main .hero .lockup .buttons a.button {
          margin-right: 1em;
          text-transform: uppercase;
          color: white;
          box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
          font-weight: bold;
          padding: .5em 1em;
          border-radius: 5px; }
          #main .hero .lockup .buttons a.button:link, #main .hero .lockup .buttons a.button:visited {
            color: white;
            text-decoration: none; }
          #main .hero .lockup .buttons a.button:hover, #main .hero .lockup .buttons a.button:active {
            color: white;
            text-decoration: none; }
        #main .hero .lockup .buttons a.button.join:link, #main .hero .lockup .buttons a.button.join:visited {
          background-color: #337dc0; }
        #main .hero .lockup .buttons a.button.join:hover {
          background-color: #408acc; }
        #main .hero .lockup .buttons a.button.join:active {
          background-color: #2e70ac; }
        #main .hero .lockup .buttons a.button.donate:link, #main .hero .lockup .buttons a.button.donate:visited {
          background-color: #329c43; }
        #main .hero .lockup .buttons a.button.donate:hover {
          background-color: #38af4b; }
        #main .hero .lockup .buttons a.button.donate:active {
          background-color: #2c893b; }
  #main .grabber {
    text-align: center;
    padding-bottom: 2em; }
    #main .grabber h2 {
      font-size: 2em; }
      #main .grabber h2 .emph {
        color: #171243;
        text-decoration: underline; }
    #main .grabber .copy p {
      text-align: center; }
  #main section {
    margin-top: 2.4em;
    scroll-behavior: smooth; }
    #main section h2 {
      margin-bottom: .65em; }
  #main section.issues h3 {
    padding-bottom: 1em;
    border-bottom: 1px solid #cdcdcd; }
  #main .section-divider {
    margin-bottom: 2em;
    position: relative;
    text-align: center;
    color: white; }
    #main .section-divider h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-transform: uppercase;
      font-size: 2.4em; }
  #main .sectionHeader {
    width: 100%;
    position: relative;
    margin-bottom: 2em;
    border-bottom: 3px solid #337dc0; }
    #main .sectionHeader .parallax {
      height: 200px;
      background-attachment: scroll;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0; }
    #main .sectionHeader h2.header {
      position: absolute;
      z-index: 1000;
      top: 70px;
      color: white;
      text-align: center;
      display: inline-block;
      width: 100%;
      font-size: 2.4em;
      text-decoration: underline;
      text-decoration-color: #337dc0;
      text-underline-position: under; }

section.callouts .callout {
  display: block;
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 300px;
  margin-bottom: 1em;
  justify-content: center;
  align-items: center;
  position: relative; }
  section.callouts .callout .block {
    width: 100%;
    height: 25%;
    background-color: rgba(51, 126, 192, 0.9);
    position: absolute;
    bottom: 0;
    display: flex;
    z-index: 1500;
    align-items: center;
    justify-content: center; }
    section.callouts .callout .block h3 {
      color: white;
      font-weight: normal;
      text-transform: uppercase;
      border: 1px solid white;
      display: inline-block;
      padding: .36em .85em;
      border-radius: 5px; }
      section.callouts .callout .block h3:hover {
        background-color: #408dd1; }
      section.callouts .callout .block h3:active {
        background-color: #2a72b1; }
section.callouts .meet-robbyn {
  background-image: url("../images/placeholder.jpg"); }
section.callouts .donate {
  background-image: url("../images/placeholder2.jpg"); }

section.contact p {
  text-align: center; }
section.contact .col-sm {
  padding-top: 1em;
  text-align: center; }
  section.contact .col-sm a:link, section.contact .col-sm a:visited {
    color: #337dc0;
    text-decoration: none; }
  section.contact .col-sm a:hover, section.contact .col-sm a:active {
    color: #1e1757;
    text-decoration: none; }
  section.contact .col-sm a .social-media-link {
    border: 1px solid #cdcdcd;
    border-radius: 1em;
    padding: 1em; }
    section.contact .col-sm a .social-media-link .fal, section.contact .col-sm a .social-media-link .fab {
      margin-top: .5em;
      margin-bottom: .35em; }

h2.pull-quote {
  color: #337dc0; }
  h2.pull-quote span.pop {
    color: #171243; }

.friends-robbyn-lewis {
  margin-top: 2em; }

/*------------------- ============= BREAKPOINTS =============== ------------ */
@media (min-width: 768px) {
  #main .hero .lockup {
    bottom: 30px; }
    #main .hero .lockup h2 {
      font-size: 3.6em;
      margin-bottom: .25em; }
    #main .hero .lockup .buttons {
      top: 250px; }
  #main .grabber {
    display: flex;
    flex-flow: wrap row; }
    #main .grabber h2 {
      font-size: 3em;
      line-height: .95em;
      margin-bottom: .35em;
      text-align: right;
      width: 45%;
      margin-right: 5%; }
    #main .grabber .copy {
      width: 50%;
      display: flex;
      flex-flow: column wrap;
      justify-content: center; }
      #main .grabber .copy p {
        padding-bottom: 1em;
        text-align: left; }
  #main .section-divider {
    margin-bottom: 2em;
    position: relative;
    text-align: center;
    color: white; }
    #main .section-divider h2 {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      text-transform: uppercase;
      font-size: 3.6em; }
  #main .sectionHeader {
    width: 100%;
    position: relative;
    margin-bottom: 1em; }
    #main .sectionHeader .parallax {
      height: 360px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0; }
    #main .sectionHeader h2.header {
      position: absolute;
      top: 144px;
      font-size: 2.6em; }
  #main section.callouts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; }
    #main section.callouts .callout {
      display: flex;
      background-position: top;
      background-size: cover;
      width: 48%;
      height: 250px;
      margin-bottom: 1em;
      justify-content: center;
      align-items: center;
      position: relative; }
      #main section.callouts .callout .block {
        width: 100%;
        height: 25%;
        background-color: rgba(51, 126, 192, 0.9);
        position: absolute;
        bottom: 0;
        display: flex;
        z-index: 1500;
        align-items: center;
        justify-content: center; }
        #main section.callouts .callout .block h3 {
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          border: 1px solid white;
          display: inline-block;
          padding: .36em .85em;
          border-radius: 5px; }
          #main section.callouts .callout .block h3:hover {
            background-color: #408dd1; }
          #main section.callouts .callout .block h3:active {
            background-color: #2a72b1; } }
@media (min-width: 1200px) {
  #main .hero .lockup {
    bottom: 36px; }
    #main .hero .lockup h2 {
      font-size: 6em; }
    #main .hero .lockup .buttons {
      width: 100%;
      display: flex;
      justify-content: center; }
      #main .hero .lockup .buttons a.button {
        margin-right: 1em;
        text-transform: uppercase;
        color: white;
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        padding: .5em 1em;
        border-radius: 5px;
        font-size: 1.4em; }
        #main .hero .lockup .buttons a.button:link, #main .hero .lockup .buttons a.button:visited {
          color: white;
          text-decoration: none; }
        #main .hero .lockup .buttons a.button:hover, #main .hero .lockup .buttons a.button:active {
          color: white;
          text-decoration: none; }
      #main .hero .lockup .buttons a.button.join:link, #main .hero .lockup .buttons a.button.join:visited {
        background-color: #337dc0; }
      #main .hero .lockup .buttons a.button.join:hover {
        background-color: #408acc; }
      #main .hero .lockup .buttons a.button.join:active {
        background-color: #2e70ac; }
      #main .hero .lockup .buttons a.button.donate:link, #main .hero .lockup .buttons a.button.donate:visited {
        background-color: #329c43; }
      #main .hero .lockup .buttons a.button.donate:hover {
        background-color: #38af4b; }
      #main .hero .lockup .buttons a.button.donate:active {
        background-color: #2c893b; }
  #main .grabber {
    margin-top: 2em; }
    #main .grabber h2 {
      font-size: 4.6em;
      line-height: 1em;
      margin-bottom: .25em; }
    #main .grabber p {
      font-size: 1.36em; }
  #main section {
    margin-top: 4em; }
    #main section h2 {
      font-size: 3em;
      margin-bottom: .65em; }
  #main .sectionHeader {
    width: 100%;
    position: relative;
    margin-bottom: 1em; }
    #main .sectionHeader .parallax {
      height: 436px;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      margin: 0; }
    #main .sectionHeader h2.header {
      position: absolute;
      top: 164px;
      font-size: 3.6em; }
  #main section.callouts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; }
    #main section.callouts .callout {
      display: flex;
      background-position: top;
      background-size: cover;
      width: 33%;
      height: 300px;
      margin-bottom: 1em;
      justify-content: center;
      align-items: center;
      position: relative; }
      #main section.callouts .callout .block {
        width: 100%;
        height: 25%;
        background-color: rgba(51, 126, 192, 0.9);
        position: absolute;
        bottom: 0;
        display: flex;
        z-index: 1500;
        align-items: center;
        justify-content: center; }
        #main section.callouts .callout .block h3 {
          color: white;
          font-weight: normal;
          text-transform: uppercase;
          border: 1px solid white;
          display: inline-block;
          padding: .36em .85em;
          border-radius: 5px; }
          #main section.callouts .callout .block h3:hover {
            background-color: #408dd1; }
          #main section.callouts .callout .block h3:active {
            background-color: #2a72b1; }
    #main section.callouts .meet-robbyn {
      background-image: url("../images/placeholder.jpg");
      margin-right: 1em; }
    #main section.callouts .donate {
      background-image: url("../images/placeholder2.jpg");
      margin-left: 1em; }
  #main .section-divider {
    margin-bottom: 3em; } }
.menu_visible {
  display: block !important; }

.menu_header_collapsed {
  top: 60px !important; }

@keyframes slidein {
  from {
    right: -800px; }
  to {
    right: 0px; } }
@keyframes slideout {
  from {
    right: 0; }
  to {
    right: -800px; } }
.open_menu {
  animation-name: slidein;
  animation-duration: .25s;
  animation-timing-function: ease-out;
  right: 0px; }

.close_menu {
  animation-name: slideout;
  animation-duration: .2s;
  animation-timing-function: ease-in; }

/* Hide scrollbar for Chrome, Safari and Opera */
#nav-holder::-webkit-scrollbar {
  display: none; }

#nav-holder {
  /* Hide scrollbar for IE, Edge and Firefox */
  display: none;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
  position: absolute;
  z-index: 6000;
  height: 1000px;
  width: 100%;
  top: 120px;
  overflow-x: hidden;
  overflow-y: auto; }
  #nav-holder nav.menu {
    display: none;
    z-index: 5000;
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: #337dc0;
    font-family: 'eastmangrotesque-extrabold';
    height: 1200px;
    text-align: left; }
    #nav-holder nav.menu ul {
      list-style-type: none;
      text-transform: uppercase;
      padding-left: 0; }
      #nav-holder nav.menu ul li {
        line-height: 2em;
        padding: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.25); }
        #nav-holder nav.menu ul li:first-child {
          margin-top: 0; }
        #nav-holder nav.menu ul li a {
          font-size: 1.1em;
          color: white;
          text-decoration: none;
          padding: 1em 0;
          display: block;
          padding-left: 1.2em;
          width: 100%; }
          #nav-holder nav.menu ul li a:hover {
            background-color: #4c91d0; }
          #nav-holder nav.menu ul li a:active {
            background-color: #2e70ac; }
        #nav-holder nav.menu ul li a.donate {
          background-color: #339c44; }
          #nav-holder nav.menu ul li a.donate:hover {
            background-color: #40ab51; }
          #nav-holder nav.menu ul li a.donate:active {
            background-color: #268836; }
        #nav-holder nav.menu ul li ul.submenu li {
          line-height: 1.32em;
          margin-top: 0;
          border: 0; }
          #nav-holder nav.menu ul li ul.submenu li:first-child {
            margin-top: -.5em; }
          #nav-holder nav.menu ul li ul.submenu li a {
            padding-left: 2.5em;
            font-family: "Open Sans", sans-serif;
            text-transform: capitalize; }
    #nav-holder nav.menu .social-media-links {
      text-align: center; }
      #nav-holder nav.menu .social-media-links a img {
        max-width: 50px;
        height: auto;
        margin: 1em .75em 0 .75em; }

/*----------- BREAKPOINTS ------------ */
@media (min-width: 768px) {
  nav.menu {
    z-index: 2000;
    position: absolute;
    width: 45%;
    background-color: #337dc0;
    font-family: 'eastmangrotesque-extrabold';
    box-shadow: -3px 2px 2px 1px rgba(0, 0, 0, 0.4);
    opacity: .97; }
    nav.menu ul {
      list-style-type: none;
      text-transform: uppercase;
      padding-left: 0; }
      nav.menu ul li {
        text-align: center;
        line-height: 2em;
        border-top: 1px solid #7dafdc; }
        nav.menu ul li:first-child {
          border-top: 0; }
        nav.menu ul li a {
          font-size: 1.1em;
          color: white;
          text-decoration: none; } }
@media (min-width: 1200px) {
  nav.menu {
    z-index: 2000;
    position: absolute;
    width: 30%;
    background-color: #337dc0;
    font-family: 'eastmangrotesque-extrabold';
    box-shadow: -3px 2px 2px 1px rgba(0, 0, 0, 0.4); }
    nav.menu ul {
      list-style-type: none;
      text-transform: uppercase;
      padding-left: 0; }
      nav.menu ul li {
        text-align: center;
        line-height: 2em;
        border-top: 1px solid #7dafdc; }
        nav.menu ul li:first-child {
          border-top: 0; }
        nav.menu ul li a {
          font-size: 1.1em;
          color: white;
          text-decoration: none; } }

/*# sourceMappingURL=styles.css.map */
