//_images.scss


//MOBILE SIZES
#main .hero { 
	background-image: url('../images/robbyn_alley_MOBILE.jpg'); 
	height:300px;
}




//TABLET SIZES
@media (min-width: $tablet) { 
	#main .hero { 
		background-image: url('../images/robbyn_alley_TABLET.jpg'); 
		height:350px;
	}
}


//DISPLAY SIZES
@media (min-width: $display) { 
	#main .hero { 
		background-image: url('../images/robbyn_alley_DISPLAY.jpg'); 
		height:650px !important;
	}
}