//_images.scss


//DEFAULT/MOBILE SIZES-----------------------------------------------
#main .hero.homepage { 
	background-image: url('../images/hero_01_MOBILE.jpg'); 
	height:300px;
}

#main .hero.meet { 
	background-image: url('../images/meetRobbyn_MOBILE.jpg'); 
	height:300px;
}

#main .hero.story { 
	background-image: url('../images/robbynStory_MOBILE.jpg'); 
	height:300px;
}

#main .hero.priorities { 
	background-image: url('../images/priorities_MOBILE.jpg'); 
	height:300px;
}



.parallax_01{
	background-image: url('../images/curtisBay_MOBILE_duoTone.jpg');
	
}

.parallax_02{
	background-image: url('../images/robbyn_linwood_MOBILE.jpg');
}

.parallax_03{
	background-image: url('../images/federalHillDoors_MOBILE.jpg');
}






//TABLET SIZES-----------------------------------------------
@media (min-width: $tablet) { 
	
	//MAIN HERO
	#main .hero.homepage { 
		background-image: url('../images/hero_01_TABLET.jpg'); 
		height:350px;
	}

	#main .hero.meet { 
	background-image: url('../images/meetRobbyn_TABLET.jpg'); 
	height:400px;


}


#main .hero.priorities { 
	background-image: url('../images/priorities_TABLET.jpg'); 
	height:400px !important;
}

	#main .hero.story { 
		background-image: url('../images/robbynStory_TABLET.jpg'); 
		height:400px;
	}

// 	.parallax_01{
// 	background-image: url('../images/curtisBay_TABLET.jpg');
// }

// 	.parallax_02{
// 		background-image: url('../images/robbyn_linwood_TABLET.jpg');
// 	}

// 	.parallax_03{
// 		background-image: url('../images/federalHillDoors_TABLET.jpg');
// 	}

}






//DISPLAY SIZES-----------------------------------------------
@media (min-width: $display) { 
	
	#main .hero.homepage { 
		background-image: url('../images/hero_01_DISPLAY.jpg'); 
		height:700px !important;
	}

	#main .hero.meet { 
		background-image: url('../images/meetRobbyn_DISPLAY.jpg'); 
		height:400px;
	}

	#main .hero.priorities { 
		background-image: url('../images/priorities_DISPLAY.jpg'); 
		height:600px !important;
	}

	#main .hero.story { 
		background-image: url('../images/robbynStory_DISPLAY.jpg'); 
		height:600px !important;
	}

	.parallax_01{
			background-image: url('../images/curtisBay_DISPLAY.jpg');
	}

	.parallax_02{
		background-image: url('../images/robbyn_linwood_DISPLAY.jpg');
	}

	.parallax_03{
		background-image: url('../images/federalHillDoors_DISPLAY.jpg');
	}

}