//_main.scss

html{
	scroll-behavior: smooth;
}

body{
	background-color: $primary;
	// position: relative;
}

.hide{
	display:none;
}

//generic links
a{
	color:$secondary;
}

//-------------------------

html.home{
	article{
		padding-top:1.4em;
		padding-bottom: 1.4em;
		
		.fas{
			color:$secondary;
			padding-bottom:.25em;
		}

	}
}

#main{
	background-color: white;
	padding-bottom:5em;
	position: relative;

	.hero{
		
		//display:none;
		position: relative;
		text-align: center;
	    background-attachment: scroll;
	    background-position: top;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	    margin-bottom:1em;
	    

	    .lockup{

	    		position: absolute;
			    	bottom: 5%;
			    	left:0;
			    	// border:1px solid red;
			    	width:100%;

					@media (min-width: $tablet) { 	
					animation-name: headline_animation;
					animation-duration: 1s;
					animation-timing-function: ease-out;
					}//end media query

			    h2{
			    	color:white;
			    	
			    	width:100%;
			    	margin:0;
			    	margin-bottom: .5em;
			    	font-size:2em;
			    	line-height: 1em;
			    	text-shadow: 2px 2px 2px rgba(0,0,0, .2);
			    	display: inline-block;

			    }

				

			
				.buttons{
					width:100%;
					display: flex;
					justify-content: center;

					a.button{
						margin-right:1em;
						text-transform: uppercase;
						color:white;
						box-shadow: 2px 2px 2px 2px rgba(0,0,0, .2);
						font-weight: bold;
						padding: .5em 1em;
						border-radius: 5px;

						&:link, &:visited{
							color: white;
							text-decoration: none;
						}

						&:hover, &:active{
							color: white;
							text-decoration: none;
						}

					}

					a.button.join{
						

						&:link, &:visited{
							background-color: $secondary;
						}

						&:hover{
							background-color: lighten($secondary, 5%);
						}

						&:active{
							background-color: darken($secondary, 5%);
						}

					}

					a.button.donate{
						

						&:link, &:visited{
							background-color: #329c43;
						}

						&:hover{
							background-color: lighten(#329c43, 5%);
						}

						&:active{
							background-color: darken(#329c43, 5%);
						}

					}

				}//end buttons


		}//end lockup


	} //end hero


	.grabber{
		//border:2px dotted red;
		//display:none;
		text-align: center;
		padding-bottom:2em;
		h2{
			// text-transform: uppercase;
			font-size:2em;

			.emph{
				color:$primary;
				text-decoration: underline;
			}

		}

		.copy{
			p{
				text-align: center;
				// color:gray;
				// font-family: Georgia, serif;
			}
		}
		
	}


	section{

		margin-top:2.4em;
		scroll-behavior: smooth; 
		//scroll-margin-top: 4em; 
		
		h2{
			margin-bottom:.65em;
		}
	}

	section.issues{


		h3{
			padding-bottom: 1em;
			border-bottom: 1px solid #cdcdcd;
		}
	}

	.section-divider{
		margin-bottom:2em;
		position:relative;
		text-align: center;
		color:white;
		// border:1px solid red;

		h2{
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			color:white;
			text-transform: uppercase;
			font-size:2.4em;
			
		}

	}

	.sectionHeader{  //----------------------
		
		width:100%;
		position:relative;
		margin-bottom:2em;
		//border-top:3px solid $secondary;
		border-bottom:3px solid $secondary;
		
		

	.parallax{
	    // min-height: 550px; 
	    height:200px;
	    background-attachment: scroll;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	}


		h2.header{
		  position: absolute;
		  z-index: 1000;
		  top: 70px;
		  color:white;
		  text-align:center;
		  display:inline-block;
		  width:100%;
		  font-size: 2.4em;
		   text-decoration: underline;
  				text-decoration-color: $secondary;
  				text-underline-position: under;

		}





}//end sectionHeader ---------------


}

section.callouts{
	

		.callout{
			display:block;
			background-position: top;
			background-size: cover;
			width:100%;
			height:300px;
			margin-bottom:1em;
			justify-content: center;
			align-items: center;
			position: relative;		

				.block{
					width:100%;
					height:25%;
					background-color:rgba(51,126,192,.9);
					position:absolute;
					bottom:0;
					display: flex;
					z-index: 1500;
					align-items: center;
					justify-content: center;

					h3{
						color:white;
						font-weight: normal;
						text-transform: uppercase;
						border:1px solid white;
						display: inline-block;
						padding:.36em .85em;
						border-radius: 5px;
						margin-bottom:0;

						&:hover{
							background-color: #408dd1;
						}

						&:active{
							background-color: #2a72b1;
						}

					}

				}
			
		}

		.meet-robbyn{
			
			background-image: url("../images/placeholder.jpg");
			

		}

		.donate{
			background-image: url("../images/placeholder2.jpg");
		}


}



section.contact{
	
	p{
		text-align: center;
	}





	.col-sm{
		padding-top:1em;
		text-align: center;

		a{

				&:link, &:visited{
					color: $secondary;
					text-decoration: none;
				}

				&:hover, &:active{
					color: lighten($primary, 5%);
					//color:$primary;
					text-decoration: none;
				}

			.social-media-link{

				border:1px solid #cdcdcd;
				border-radius:1em;
				padding:1em;



			.fal, .fab{
				// color: $secondary;
				margin-top:.5em;
				margin-bottom:.35em;

			}

		}


		}

		
	}


}


h2.pull-quote{
	color:$secondary;

	span.pop{
		color:$primary;
	}

}


.friends-robbyn-lewis{
	//border:1px solid red;
	margin-top:2em;
	//border-top:1px solid gray;
}


/*------------------- ============= BREAKPOINTS =============== ------------ */

@media (min-width: $tablet) { 


	html{
		// border:4px solid green;
	}


	#main{

		.hero{
			

			.lockup{

				bottom:30px;

			h2{
				font-size:3.6em;
				margin-bottom: .25em;
			}

			.buttons{
				top:250px;
			}

			}//end lockup

		}
		

		.grabber{

			//border:2px solid blue;
			display: flex;
			flex-flow: wrap row;

			h2{
				font-size: 3em;
				line-height: .95em;
				margin-bottom: .35em;
				text-align: right;
				width:45%;
				margin-right:5%;

			

			}

			.copy{

				//border:1px dotted red;
				width:50%;
				display: flex;
				flex-flow: column wrap;
				justify-content: center;

				p{
					padding-bottom:1em;
					text-align: left;
					//border:1px solid red;
				}

			}//end copy
		}


	.section-divider{
		margin-bottom:2em;
		position:relative;
		text-align: center;
		color:white;

		h2{
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			color:white;
			text-transform: uppercase;
			font-size:3.6em;
		}

	}


	.sectionHeader{  //----------------------
		
		width:100%;
		position:relative;
		margin-bottom:1em;
		
		

	.parallax{
	    height:360px;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	}


		h2.header{
		  position: absolute;
		  top: 144px;
		  font-size: 2.6em;

		}


}//end sectionHeader ---------------

section.callouts{
	
	//border:2px solid orangered;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;



		// width:40%;

		.callout{
			display:flex;
			background-position: top;
			background-size: cover;
			width:48%;
			//width:100%;
			height:250px;
			margin-bottom:1em;
			justify-content: center;
			align-items: center;
			position: relative;
			//border:4px solid purple;


				.block{
					width:100%;
					height:25%;
					background-color:rgba(51,126,192,.9);
					position:absolute;
					bottom:0;
					display: flex;
					z-index: 1500;
					align-items: center;
					justify-content: center;

					h3{
						color:white;
						font-weight: normal;
						text-transform: uppercase;
						border:1px solid white;
						display: inline-block;
						padding:.36em .85em;
						border-radius: 5px;
						margin-bottom:0;

						&:hover{
							background-color: #408dd1;
						}

						&:active{
							background-color: #2a72b1;
						}

					}

				}
			
		}



}//end section.callouts


}//main






 }//end TABLET media query








@media (min-width: $display) { 


	html{
		// border:4px solid red;
	}


	#main{
		
		.hero{
	

		.lockup{

			bottom:36px;

			h2{
				font-size:6em;
				

			}

			.buttons{
			
			width:100%;
			

			display: flex;
			justify-content: center;

			a.button{
				margin-right:1em;
				text-transform: uppercase;
				color:white;
				box-shadow: 2px 2px 2px 2px rgba(0,0,0, .2);
				font-weight: bold;
				padding: .5em 1em;
				border-radius: 5px;

				font-size:1.4em;

				&:link, &:visited{
					color: white;
					text-decoration: none;
				}

				&:hover, &:active{
					color: white;
					text-decoration: none;
				}

			}

			a.button.join{
				

				&:link, &:visited{
					background-color: $secondary;
				}

				&:hover{
					background-color: lighten($secondary, 5%);
				}

				&:active{
					background-color: darken($secondary, 5%);
				}

			}

			a.button.donate{
				

				&:link, &:visited{
					background-color: #329c43;
				}

				&:hover{
					background-color: lighten(#329c43, 5%);
				}

				&:active{
					background-color: darken(#329c43, 5%);
				}

			}

		}

		}//end lockup


		}

		.grabber{

			margin-top:2em;

			h2{
				font-size: 4.6em;
				line-height: 1em;
				margin-bottom: .25em;
			}

			p{
				font-size: 1.36em;
			}
		}


	section{
		margin-top:4em;
		h2{
			font-size:3em;
			margin-bottom:.65em;
		}
	}




	.sectionHeader{  //----------------------
		
		width:100%;
		position:relative;
		margin-bottom:1em;
		// border:4px solid green;
		

	.parallax{
	    height:436px;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	}


		h2.header{
		  position: absolute;
		  top: 164px;
		  font-size: 3.6em;

		}


}//end sectionHeader ---------------

section.callouts{
	
	//border:2px solid brown;
	display: flex;
	flex-flow: row wrap;
	//justify-content: center;
	justify-content: space-evenly;


		// width:40%;

		.callout{
			display:flex;
			background-position: top;
			background-size: cover;
			width:33%;
			//width:100%;
			height:300px;
			margin-bottom:1em;
			justify-content: center;
			// justify-content: space-evenly;
			align-items: center;
			position: relative;
			//border:4px solid purple;


				.block{
					width:100%;
					height:25%;
					background-color:rgba(51,126,192,.9);
					position:absolute;
					bottom:0;
					display: flex;
					z-index: 1500;
					align-items: center;
					justify-content: center;

					h3{
						color:white;
						font-weight: normal;
						text-transform: uppercase;
						border:1px solid white;
						display: inline-block;
						padding:.36em .85em;
						border-radius: 5px;

						&:hover{
							background-color: #408dd1;
						}

						&:active{
							background-color: #2a72b1;
						}

					}

				}
			
		}


		.meet-robbyn{
			
			background-image: url("../images/placeholder.jpg");
			//margin-right:1em;

		}

		.donate{
			background-image: url("../images/placeholder2.jpg");
			//margin-left: 1em;
		}


}//end section.callouts


	.section-divider{
		margin-bottom:3em;
	}


	}//end main




 } 

