//_main.scss

body{
	background-color: $primary;
	// position: relative;
}

html.home{
	article{
		padding-top:1.4em;
		padding-bottom: 1.4em;
		
		.fas{
			color:$secondary;
			padding-bottom:.25em;
		}

	}
}

#main{
	background-color: white;
	padding-bottom:6em;

	.hero{
		
		position: relative;
		text-align: center;
	    background-attachment: scroll;
	    background-position: top;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	    margin-bottom:1em;
	    //border:2px solid orange;

	    .lockup{

	    		position: absolute;
			    	bottom: 5%;
			    	left:0;
			    	// border:1px solid red;
			    	width:100%;

			    h2{
			    	color:white;
			    	
			    	width:100%;
			    	margin:0;
			    	margin-bottom: .5em;
			    	font-size:2em;
			    	line-height: 1em;
			    	text-shadow: 2px 2px 2px rgba(0,0,0, .2);
			    	display: inline-block;
			    }

			
				.buttons{
					width:100%;
					display: flex;
					justify-content: center;

					a.button{
						margin-right:1em;
						text-transform: uppercase;
						color:white;
						box-shadow: 2px 2px 2px 2px rgba(0,0,0, .2);
						font-weight: bold;
						padding: .5em 1em;
						border-radius: 5px;

						&:link, &:visited{
							color: white;
							text-decoration: none;
						}

						&:hover, &:active{
							color: white;
							text-decoration: none;
						}

					}

					a.button.join{
						

						&:link, &:visited{
							background-color: $secondary;
						}

						&:hover{
							background-color: lighten($secondary, 5%);
						}

						&:active{
							background-color: darken($secondary, 5%);
						}

					}

					a.button.donate{
						

						&:link, &:visited{
							background-color: #329c43;
						}

						&:hover{
							background-color: lighten(#329c43, 5%);
						}

						&:active{
							background-color: darken(#329c43, 5%);
						}

					}

				}//end buttons


		}//end lockup


	} //end hero


	.grabber{
		text-align: center;
		h2{
			// text-transform: uppercase;
		}

		p{
			// color:gray;
			// font-family: Georgia, serif;
		}
		
	}


	section{
		margin-top:2.4em;
		h2{
			margin-bottom:.65em;
		}
	}

	section.issues{


		h3{
			padding-bottom: 1em;
			border-bottom: 1px solid #cdcdcd;
		}
	}

	.section-divider{
		margin-bottom:2em;
		position:relative;
		text-align: center;
		color:white;
		// border:1px solid red;

		h2{
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			color:white;
			text-transform: uppercase;
			font-size:2.4em;
			
		}

	}

	.sectionHeader{  //----------------------
		
		width:100%;
		position:relative;
		margin-bottom:2em;
		//border-top:3px solid $secondary;
		border-bottom:3px solid $secondary;
		

	.parallax{
	    // min-height: 550px; 
	    height:200px;
	    background-attachment: scroll;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	}


		h2.header{
		  position: absolute;
		  z-index: 1000;
		  top: 70px;
		  color:white;
		  text-align:center;
		  display:inline-block;
		  width:100%;
		  font-size: 2.4em;
		   text-decoration: underline;
  				text-decoration-color: $secondary;
  				text-underline-position: under;
  			// border-bottom: 2px solid $secondary;

		}





}//end sectionHeader ---------------


}


.by-the-numbers{
	
	padding-top:2em;
	text-align: center;
	border-top:1px solid #cdcdcd;


	h3{
		color:gray;
		letter-spacing: .14rem;
		margin-bottom: 2em;

		.punch{
			color: $secondary;
		}

	}

	.col-sm{
		text-align: center;

		.fal{
			color:$secondary;
		}

		
			img{
				width:16%;
				height:auto;
			}


			p.stat{
				color:$secondary;
				font-family: 'eastmangrotesque-extrabold', sans-serif;
				font-size: 2em;
				margin-bottom:-.4em;
				padding-bottom:0;
			}

			p.achievement{
				padding-bottom:1.85em;
			}


	}
} //end by-the-numbers


section.contact{
	
	p{
		text-align: center;
	}





	.col-sm{
		padding-top:1em;
		text-align: center;

		a{

				&:link, &:visited{
					color: $secondary;
					text-decoration: none;
				}

				&:hover, &:active{
					color: lighten($primary, 5%);
					//color:$primary;
					text-decoration: none;
				}

			.social-media-link{

				border:1px solid #cdcdcd;
				border-radius:1em;
				padding:1em;



			.fal, .fab{
				// color: $secondary;
				margin-top:.5em;
				margin-bottom:.35em;

			}

		}


		}

		
	}


}


h2.pull-quote{
	color:$secondary;

	span.pop{
		color:$primary;
	}

}





/*------------------- ============= BREAKPOINTS =============== ------------ */

@media (min-width: $tablet) { 


	html{
		// border:4px solid green;
	}


	#main{

		.hero{
			

			.lockup{

				bottom:30px;

			h2{
				font-size:3.6em;
				margin-bottom: .25em;
			}

			.buttons{
				top:250px;
			}

			}//end lockup

		}
		

		.grabber{
			h2{
				font-size: 3em;
				line-height: .95em;
				margin-bottom: .35em;

			}

			p{
				padding-bottom:1em;
			}
		}


	.section-divider{
		margin-bottom:2em;
		position:relative;
		text-align: center;
		color:white;

		h2{
			position:absolute;
			top:50%;
			left:50%;
			transform: translate(-50%, -50%);
			color:white;
			text-transform: uppercase;
			font-size:3.6em;
		}

	}


	.sectionHeader{  //----------------------
		
		width:100%;
		position:relative;
		margin-bottom:1em;
		
		

	.parallax{
	    height:360px;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	}


		h2.header{
		  position: absolute;
		  top: 144px;
		  font-size: 2.6em;

		}


}//end sectionHeader ---------------



	}//main


 .by-the-numbers{
	
	padding-top:2em;
	text-align: center;
	border-top:1px solid #cdcdcd;


	h3{
		color:gray;
		letter-spacing: .14rem;
		margin-bottom: 2em;

		.punch{
			color: $secondary;
		}

	}

	.col-sm{
		text-align: center;
		// border:1px dotted gray;

		
			img{
				width:30%;
				height:auto;
			}


			p.stat{
				color:$secondary;
				font-family: 'eastmangrotesque-extrabold', sans-serif;
				font-size: 3em;
				margin-bottom:-.4em;
				padding-bottom:0;
			}

		


	}
} //end by-the-numbers




 }//end TABLET media query








@media (min-width: $display) { 


	html{
		// border:4px solid red;
	}


	#main{
		
		.hero{
	

		.lockup{

			bottom:36px;

			h2{
				font-size:6em;
				

			}

			.buttons{
			
			width:100%;
			

			display: flex;
			justify-content: center;

			a.button{
				margin-right:1em;
				text-transform: uppercase;
				color:white;
				box-shadow: 2px 2px 2px 2px rgba(0,0,0, .2);
				font-weight: bold;
				padding: .5em 1em;
				border-radius: 5px;

				font-size:1.4em;

				&:link, &:visited{
					color: white;
					text-decoration: none;
				}

				&:hover, &:active{
					color: white;
					text-decoration: none;
				}

			}

			a.button.join{
				

				&:link, &:visited{
					background-color: $secondary;
				}

				&:hover{
					background-color: lighten($secondary, 5%);
				}

				&:active{
					background-color: darken($secondary, 5%);
				}

			}

			a.button.donate{
				

				&:link, &:visited{
					background-color: #329c43;
				}

				&:hover{
					background-color: lighten(#329c43, 5%);
				}

				&:active{
					background-color: darken(#329c43, 5%);
				}

			}

		}

		}//end lockup


		}

		.grabber{

			margin-top:2em;

			h2{
				font-size: 4.6em;
				line-height: 1em;
				margin-bottom: .25em;
			}

			p{
				font-size: 1.36em;
			}
		}


	section{
		margin-top:4em;
		h2{
			font-size:3em;
			margin-bottom:.65em;
		}
	}




	.sectionHeader{  //----------------------
		
		width:100%;
		position:relative;
		margin-bottom:1em;
		// border:4px solid green;
		

	.parallax{
	    height:436px;
	    background-attachment: fixed;
	    background-position: center;
	    background-repeat: no-repeat;
	    background-size: cover;
	    margin: 0;
	}


		h2.header{
		  position: absolute;
		  top: 164px;
		  font-size: 3.6em;

		}


}//end sectionHeader ---------------




	.section-divider{
		margin-bottom:3em;
	}


	}//end main


 .by-the-numbers{
	
	padding-top:2em;
	text-align: center;
	border-top:1px solid #cdcdcd;


	h3{
		color:gray;
		letter-spacing: .14rem;
		margin-bottom: 2em;

		.punch{
			color: $secondary;
		}

	}

	.col-sm{
		text-align: center;
		// border:1px dotted gray;

		
			img{
				width:32%;
				height:auto;
			}


			p.stat{
				color:$secondary;
				font-family: 'eastmangrotesque-extrabold', sans-serif;
				font-size: 4em;
				margin-bottom:-.4em;
				padding-bottom:0;
			}

			p.achievement{
				padding-bottom:0;
			}

		


	}
} //end by-the-numbers


 } 

