//misc.scss

.disable-select {
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none;      
    user-select: none;
  }

  .scroll_offset_01{
    // scroll-margin-top: ($header_height_full + 32px);
    scroll-margin-top: ($header_height_collapsed);
  }

  .scroll_offset_02{
    scroll-margin-top: ($header_height_collapsed);

  }

  .img-thumbnail{
    margin-bottom:1.5em;
  }

  .family-photo{
    transform: rotate(3.2deg);
  }

  .hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
    // position: absolute;
    // width: 40px;
    // height: 4px;
    // transition-timing-function: ease;
    // transition-duration: .15s;
    // transition-property: transform;
    // border-radius: 4px;
    background-color: #fff;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
  background-color: #fff;
}

button.hamburger:focus {
  outline: none;
  /* outline: -webkit-focus-ring-color auto 5px; */
}

.no-select{
//cursor: auto;
//border:1px solid red;
-webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

img.family{
  transform: rotate(-.5deg);
}

img.peaceCorps{
  transform: rotate(2deg);
}

figure{

  margin-bottom:1.5em;

  figcaption{
    font-style: italic;
    color:gray;
  }
}