// _footer.scss

.menu_visible{
    display: block !important;
}

.menu_header_collapsed{
    top: $header_height_collapsed !important;
}

@keyframes slidein {
    from {right: -800px;}
    to {right:0px;}

  }

  @keyframes slideout {
    from {right: 0;}
    to {right:-800px;}
  }

  .open_menu{
    
    animation-name: slidein;
    animation-duration: .25s;
    animation-timing-function: ease-out;
    right:0px;
  }

  .close_menu{
    animation-name: slideout;
    animation-duration: .2s;
    animation-timing-function: ease-in;
    //right:-600px;

    //display:none;
  }



nav.menu{  //the nav is placed just inside the 'main' div below the header
    display: none;
    //right: -600px;
    z-index:5000;
    height:100%;
    position: absolute;
    width:100%;
    //right:0;
    top: $header_height_full;
    background-color: $secondary;
    font-family: 'eastmangrotesque-extrabold';
    height:1200px;

    ul{
        
        list-style-type: none;
        text-transform: uppercase;
        padding-left:0;

        li{

            text-align: center;
            line-height: 2em;
            border-top:1px solid lighten($secondary, 20%);
            padding:0;

            &:first-child{
                border-top:0;
            }

            a{
                font-size: 1.1em;
                color:white;
                text-decoration: none;
                padding: 1em 0;
                display:block;

                &:hover{
                    background-color: lighten($secondary, 8%);
                }

                &:active{
                    background-color: darken($secondary, 5%);
                }
                
            }
        }

    }//end ul

}//end nav.menu

/*----------- BREAKPOINTS ------------ */

@media (min-width: $tablet) { 

	nav.menu{  //the nav is placed just inside the 'main' div below the header
        //display: none;
        z-index:2000;
        position: absolute;
        width:45%;
        //right:0;
        background-color: $secondary;
        font-family: 'eastmangrotesque-extrabold';
        box-shadow: -3px 2px 2px 1px rgba(0, 0, 0, 0.4);
        opacity:.97;
    
        ul{
            
            list-style-type: none;
            text-transform: uppercase;
            padding-left:0;
    
            li{
    
                text-align: center;
                line-height: 2em;
                border-top:1px solid lighten($secondary, 20%);
                //padding: 1em 0;
    
                &:first-child{
                    border-top:0;
                }
    
                a{
                    font-size: 1.1em;
                    color:white;
                    text-decoration: none;
                    
                    
                }
            }
    
        }//end ul
    
    }//end nav.menu

}//end tablet breakpoint ---------------


@media (min-width: $display) { 

	nav.menu{  //the nav is placed just inside the 'main' div below the header
        //display: none;
        z-index:2000;
       // height:100%;
        position: absolute;
        width:30%;
        //right:0;
       // top:0;
        background-color: $secondary;
        font-family: 'eastmangrotesque-extrabold';
        box-shadow: -3px 2px 2px 1px rgba(0, 0, 0, 0.4);
    
        ul{
            
            list-style-type: none;
            text-transform: uppercase;
            padding-left:0;
    
            li{
    
                text-align: center;
                line-height: 2em;
                border-top:1px solid lighten($secondary, 20%);
                //padding: 1em 0;
    
                &:first-child{
                    border-top:0;
                }
    
                a{
                    font-size: 1.1em;
                    color:white;
                    text-decoration: none;
                    
                }
            }
    
        }//end ul
    
    }//end nav.menu

}//end display breakpoint


