//_typography.scss


@font-face {
    font-family: 'eastmangrotesque-extrabold';
    src: url('../fonts/eastmangrotesque-extrabold-webfont.woff2') format('woff2'),
         url('../fonts/eastmangrotesque-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body{
	font-family: $body;
	color: #333333;
}

h1, h2{
	color: $secondary;
	font-weight: normal;
	font-family: 'eastmangrotesque-extrabold';
	letter-spacing: 0;
}

h3{
	color: $secondary;
	font-weight: normal;
	font-size:1.4rem;
}	

.center{
	text-align: center;
}


.punch{
	color:#329c43;
}

.pull-quote{
	text-align: center;
	color:$primary;
	padding-bottom:.25em;

	.quote-pop{
		// color:$secondary;
		// font-size:2em;
	}


}