//_variables.scss

$primary: #171243;
$secondary: #337dc0;



$body: 'Open Sans', sans-serif;;


//breakpoints
$mobile: 576px;
//$mobile: 768px;
$tablet: 768px;
//$tablet: 992px;
$display: 1200px;
//$display: 1400px;

